{
  "max_words": 8000,
  "prompt": "我需要对下面引号内文档进行总结，总结输出包括以下三个部分：\n📖 一句话总结\n🔑 关键要点,用数字序号列出3-5个文章的核心内容\n🏷 标签: #xx #xx\n请使用emoji让你的表达更生动\n\n",
  "white_url_list": [],
  "black_url_list": [
    "https://support.weixin.qq.com",
    "https://channels-aladin.wxqcloud.qq.com",
    "https://www.wechat.com",
    "https://channels.weixin.qq.com",
    "https://docs.qq.com",
    "https://work.weixin.qq.com",
    "https://map.baidu.com",
    "https://map.qq.com",
    "https://y.qq.com",
    "https://music.163.com"
  ],
  "black_group_list": [],
  "auto_sum": true,
  "cache_timeout": 900,
  "openai_api_base": "https://api.openai.com/v1",
  "openai_api_key": "",
  "openai_model": "gpt-4o-2024-08-06",
  "qa_prompt": "根据以下文章内容回答问题：\n'''{content}'''\n\n问题：{question}\n要求：答案需准确简洁，引用原文内容需用引号标注",
  "qa_trigger": "问"
}
